<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CamIput...</title>
  <link rel="stylesheet" href="webcam_style.css">
</head>
<body>
  <h3>CamIput...</h3>
</body>

<div>
    <video id="live" width="320" height="240" autoplay style="display: inline;"></video>
    <canvas width="320" id="canvas" height="240"  style="display: inline;"></canvas>
</div>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

 <script type="text/javascript">
    navigator.getUserMedia = (navigator.getUserMedia ||
                            navigator.webkitGetUserMedia ||
                            navigator.mozGetUserMedia || 
                            navigator.msGetUserMedia);
// Check that the browser supports getUserMedia.
// If it doesn't show an alert, otherwise continue.
  
    // var vid = document.getElementById('live');
    // var canvas_wnd = document.getElementById('canvas');
    // context = canvas.getContext('2d');

    var vid = $("#live").get()[0];
    var canvas = $("#canvas");
    var context = canvas.get()[0].getContext('2d');

if (navigator.getUserMedia) {
  // Request the camera.
  navigator.getUserMedia(
    // Constraints
    {
      video: true
    },

    // Success Callback
    function(localMediaStream) {
        // Get a reference to the video element on the page.
        

        // Create an object URL for the video stream and use this 
        // to set the video source.
        vid.src = window.URL.createObjectURL(localMediaStream);
    },

    //
    // Error Callback
    function(err) {
      // Log the error to the console.
      console.log('The following error occurred when trying to use getUserMedia: ' + err);
    }
  );

}
        timer = setInterval(
            function () {
                context.drawImage(vid, 0, 0, 320, 240);
                var canv_str = canvas.get()[0].toDataURL('image/jpeg', 1.0);
                //document.getElementById('imgurl').innerHTML=canv_str;
               $('#caminput_canv').attr('value',canv_str)

            }, 1000);
        // timer2=setInterval(
        //   function(){
        //       $('#new_caminput').html("<%= j (render 'form') %>");

        //       $('#new_caminput').submit()
        //   },5000)

        time3=setInterval(
          function () {
            context.drawImage(vid, 0, 0, 320, 240);
            var canv_str = canvas.get()[0].toDataURL('image/jpeg', 1.0);
            $.ajax({
              type: "POST",
              url: '/caminputs',
              data: {caminput: {username: 'hehe',canv:canv_str}},
              dataType: "script"
              }
            )},5000);
                

        // $(function(){
        // });

    // var canvas = $("#canvas");
    // var ctx = canvas.get()[0].getContext('2d');
    
    // navigator.webkitGetUserMedia("video",
    //         function(stream) {

    //     // Create an object URL for the video stream and use this 
    //     // to set the video source.
    //             var video = document.getElementById('live');
    //             video.src = webkitURL.createObjectURL(stream);
    //         },
    //         function(err) {
    //             console.log("Unable to get video stream!")
    //         }
    // )
 
    // timer = setInterval(
    //         function () {
    //             ctx.drawImage(video, 0, 0, 320, 240);
    //         }, 250);
</script>


<%= render 'form' %>
<div id="cam-form" style="display:none;"></div>

<div id='camid'>
<%= link_to 'Back', caminputs_path %>
</div>